* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-padding-top: 10rem;
    /* overflow-x: hidden; */
  }
  
  body {
    font-family: "Roboto", sans-serif;
    /* font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif; */
    line-height: 1;
    font-weight: 400;
    color: #000000;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
  }
  
  .navbar {
    background-color: white;
  }
  .horizontal-row{
    margin: 0 auto;
    width:9%;
    color: red;
    border: 1.7px solid red;
    opacity: 1;
  }
  .logo-heading {
    font-size: 2rem;
    font-weight: bolder;
    color: #000299;
    line-height: 1.2;
    margin-bottom: 0px;
  }
  .logo-text {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  .nav-item a {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #444 !important;
  }
  
  .dropdown-toggle::after {
    content: none;
  }
  
  /* Modal settings */
  .modal-backdrop {
    opacity:0.4 !important;
    top:6.5rem
  }
  .modal {
    margin-top: 4.7rem;
  
  }
  .modal-header{
    border: none;
  }
  
  .modal-content{
    border: none;
    /*  */
  }
  .tutorial-modal-body{
    width: 150%;
  
  }
  .modal-body {
    padding-top: 0px;
  }
  /* Modal Settings ends */
  
  /* Tutorials */
  
  .tutorials ul{
    list-style: none;
    padding-left: 0;
  }
  .languages a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    display: block;
    padding: 1rem 2rem;
    font-weight: bold;
    border-right: 3px solid rgba(232, 232, 232, 0.6);
  }
  .languages a:hover{
    color: rgba(0, 108, 255, 1) !important;
    background-color: rgb(191 218 255);
  }
  
  .list-active{
    color: rgba(0, 108, 255, 1) !important;
    background-color: rgb(191 218 255);
    border-right: 3px solid rgba(0, 108, 255, 0.6) !important;
  }
  
  .languages-info
  {
    border-right: 3px solid rgba(232, 232, 232, 0.6);
  }
  
  .languages-info ul, .example-info ul
  {
    list-style: none;
    padding-left: 0px;
  }
  .languages-info li, .example-info li{
    margin-top: 3rem;
  }
  .languages-info a , .example-info a{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
  }
  .languages-info a:hover , .example-info a:hover{
    color: rgba(0, 108, 255, 1) !important;
    text-decoration: underline;
  }
  
  
  
  
  .tutorial-references ul
  {
    list-style: none;
    padding-left: 0px;
  }
  
  .tutorial-references li{
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: rgba(70, 137, 255, 0.1);
  
  }
  
  .tutorial-references a{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 450;
  }
  .tutorial-references a:hover{
    color: rgba(0, 108, 255, 1) !important;
    text-decoration: underline;
  }
  a .view-more{
    display: block;
    margin-top:3rem;
    font-size: 1.5rem;
    color: #357CFA;
  }
  
  /* tutorials ends */
  /* Signup Modal Setting */
  .signup-heading
  {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
  }
  .signup-image-logo{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0px auto;
  }
  .signup-subheading{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #000299;
    margin-bottom: 0px;
  }
  .signup-span{
    display: block;
    text-align: center;
    font-size: 0.9rem;
  }
  .signup-form-heading{
    text-align: center;
    font-size: 1.3rem;
  }
  
  .signup-form input[type=text]
  {
    font-size: 1.2rem;
    outline: rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem 1rem 3rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(145, 179, 250, 0.2);
    border-radius: 0.3rem;
    margin-bottom: 1.3rem;
    background-image: url('../images/user.svg');
    background-position: 10px 9px;
    background-repeat: no-repeat;
  }
  .signup-form input[type=email]
  {
    font-size: 1.2rem;
    outline: rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem 1rem 3rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(145, 179, 250, 0.2);
    border-radius: 0.3rem;
    margin-bottom: 1.3rem;
    background-image: url('../images/email.svg');
    background-position: 10px 9px;
    background-repeat: no-repeat;
  
  }
  
  .signup-form input[type=password]
  {
    font-size: 1.2rem;
    outline: rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem 1rem 3rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(145, 179, 250, 0.2);
    border-radius: 0.3rem;
    margin-bottom: 1.3rem;
    background-image: url('../images/password.svg');
    background-position: 10px 9px;
    background-repeat: no-repeat;
  }
  
  .signup-form button
  {
    font-size: 1.2rem;
    border: none;
    padding: 1.3rem;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 2rem;
  }
  .signup-p{
    font-size: 1.2rem;
    text-align: center;
  }
  .signup-social-media a{
    font-size: 1.2rem;
    padding: 0.6rem 1.6rem;
  }
  .signup-login-p
  {
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem 0rem;
  }
  .signup-login-p a{
    text-decoration: none;
  }
  /* Signup modal setting edns */
  
  
  
  
  .nav-item input {
    background-color: #ffffff;
    width: 32rem !important;
    height: 3.6rem !important;
    background-image: url("../images/bx-search.svg")  !important;
    background-position: 95%  !important;
    background-repeat: no-repeat  !important;
    padding: 0px 1.5rem  !important;
    font-size: 1.4rem  !important;
    font-weight: 400  !important;
    border-radius: 1.2rem  !important;
    border: 1px solid #cecece  !important;
    box-shadow: rgba(77, 77, 77, 0.1) 0px 1px 6px 0px  !important;
  }
  .nav-item input[type="text"]:focus {
    border: 1px solid #cecece  !important;
    outline: #cecece  !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 6px 0px  !important;
    padding: 1.1rem 2rem  !important;
    margin-bottom: 0px !important;
  }
  
  .nav-item button {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.1rem 3.5rem;
    border-radius: 2.2rem;
    background-color: #4689ff;
    color: white;
    border: 0px;
    cursor: pointer;
  }
  
  .nav-item button:hover {
    background-color: #1366f7;
  }

  main {
    margin-top: 8rem;
  }


  
/* Homepage Blog section */
.homepage-popular-blogs{
    background-color: #F7F9FF;
    padding: 5rem 0rem;
    }
    .blogs-list{
      margin-top: 5rem;
    }
    .blog-card{
      padding: 1.5rem 0px;
      border-radius: 1rem;
    }
    .homepage-blog-heading
    {
      color: #003174;
      font-size: 3.5rem;
      font-weight: bolder;
      text-align: center;
    }
    
    .blog-card a:link, a:active{
      text-decoration: none;
    }
    .blog-card span{
      display: block;
      margin: 2rem 0px 0.5rem 0px;
    }
    .blog-card h3 a{
      color: black;
    }
    .blog-card p{
      color:  #444;
      font-size: 1.2rem;
      line-height: 1.7;
    }
    /* Home Page blog section ends */
    
    footer {
      background-color: #003e93;
      color: white;
    }
    .footer-up{
      border-bottom: 2px solid white;
    }
    
    footer p {
      margin-bottom: 0px;
    }
    
    footer a,
    footer a:link {
      color: white;
      text-decoration: none;
    }
    
    .footer-logo-heading h3 {
      font-size: 2rem;
      font-weight: bold;
    }
    
    .footer-logo-heading p {
      font-size: 1.2rem;
      font-weight: normal;
    }
    
    footer input[type="email"] {
      width: 75%;
      height: 3rem;
      border: none;
      border-radius: 0.7rem;
      padding: 2.3rem 3.5rem 2.3rem 1.1rem;
      font-size: 2rem;
      color: rgb(61, 47, 47);
    }
    
    footer input[type="email"]:focus {
      outline: #ffffff;
    }
    
    footer input[type="submit"] {
      font-size: 2rem;
      color: white;
      border: none;
      background-color: #006cff;
      border-radius: 1rem;
      padding: 1.3rem 2rem;
      margin-left: -4rem;
    }
    .footer-list{
      list-style-type: none;
      padding: 0px;
    }
    
    .footer-list li
    {
      font-size: 1.2rem;
      margin-top:1.4rem;
    }
    
    .footer-down ul{
      list-style: none;
      padding: 0px;
    }
    .footer-down p,li{
      padding: 0px;
      font-size:1.2rem;
    }
    